
<div class="featured- projects row m-0">
        <!-- <h2>Also look at some of the projects</h2> -->

         <a ng-repeat="project in projects" href="projectdetails/{{project._id}}" class="col-4">
             <div class="col-12 p-0">
               <div ng-if="project.file">
                  <img src="./uploads/{{project.file}}" alt="" width="100%" height="150px" class="rounded">
               </div>
             <div ng-if="!project.file">
                   <div class="bg-danger p-3 rounded" alt="" width="100%" style="height:150px">
                      <p class="text-white text-center">No image</p>
                   </div>
              </div>
                  <div class=" col-12 p-0 border-bottom mb-3">
                        <p class="text-dark m-0 text-truncate ">{{project.title}}</p>
                        <p class="text-danger mb-1">{{project.name}}</p>
                        <p class="text-danger mb-1 text-truncate">{{project.description}}</p>
                        <p class="text-secondary m-0">{{project.type}}</p>
                        <p class="text-danger mb-1">{{project.created | date}}</p>
                  </div>
            </div>
           </a>
</div>
<style>
.featured-projects
{
  width: 97%;
  margin: 0 auto;
}
</style>